body {
    margin: 0;
    font-family: 'Bitter', serif;
}

/*
    Navigation
*/

.flex-container {
    display: flex;
    align-items: center;
}

nav {
    position: fixed;
    width: 100%;
    top: 0px;
    background: #000080;
    color: #fff;
    height: 120px;
    z-index: 1;
}

nav img {
    margin: 0 30px;
    width: 100px;
    cursor: pointer;
}

nav h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    color: #ff9933;
}

@supports (color: transparent) {
    nav h1 {
        background: linear-gradient(to right, #ff9933,#fff, #1de40b);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

ul {
    list-style: none;
    margin-left: auto;
    margin-right: 25px;
}

li {
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
}

nav a:hover,
nav a:focus {
    color: #138808;
}

.contact-us {
    background: #ff9933;
    color: #000080;
    padding: 10px;
    transition: all 0.2s;
    border-radius: 3px;
}

.contact-us:hover {
    background: #fff;
}

.dropdown-li {
    position: relative;
}

.active {
    border-bottom: 1px solid #ff9933;
}

.active-contact {
    box-shadow: 0 0 2px 2px white;
}

.dropdown > a {
    cursor: pointer;
}


.dropdown ul {
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    background: rgba(0,0,71,0.7);
    position: absolute;
    margin: 0;
    padding: 0;
    left: -35px;
    border-radius: 15px;
    transform: translateY(10px);
    transition: transform 0.2s;
 /* padding-top: 10px;  */
}

.dropdown:focus ul,
.dropdown:hover ul,
.dropdown:active ul
 {
    /* display: block; */
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.dropdown ul li{
    margin: 0;
    padding: 20px;
}

/*
    Body
*/

/*Carousel */


.img-carousel {
    width: 100%;
    height: 700px;
}

@media (max-width: 600px) {
    .img-carousel {
        height: 300px;
    }

}

.img-carousel img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.img-carousel img[src="carousel1.jpeg"] {
    object-position: top;
}

.img-carousel img[src="carousel2.jpeg"] {
    object-position: center 39%;
}


.img-carousel-visible {
    display: block;
    animation: opa 500ms;
}

.img-carousel-hide {
    display: none;
}

.wrapper-carousel {
    margin-top: 120px;
    position: relative;
}

.btn-div-carousel {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn-div-carousel button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: wheat;
    cursor: pointer;
    border: 0;
}

.btn-div-carousel button:active {
    background: white;
}

@keyframes opa {
    0% {opacity: 0;}
    100%{opacity:1}
}

h1 {
    margin: 0;
    font-weight: 400;
    text-shadow: 10px 10px 10px black;
}

p {
    font-weight: 200;
    letter-spacing: 3.5px;
}

.top {
    /* margin-top: 120px; */
    text-align: center;
    background: linear-gradient(to right, #b85d03, #a55d14);
    padding: 100px 0 100px;
    font-size: 30px;
    color: #fff;
}

.top .wukf {
    font-weight : 400;
}

.text-bold {
    font-weight: 400;
    margin: 0;
}

.middle {
    background: #000080;
    padding: 300px 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.middle h1, .middle p {
    max-width: 1200px;
    margin: 50px auto;
    padding-left: 50px;
    padding-right: 50px;
}


#check {
    display: none;
}

.checkbox {
    display: none;
    cursor: pointer;
}

@media(max-width:1300px) {
    nav img {
        width: 80px;
    }

    nav h1 {
        font-size: 26px;
        width: 30%;
    }

    li {
        margin-left: 20px;
    }

    ul {
        padding: 0;
        margin-right: 25px;
    }
}

@media(max-width:1200px) {
    /*Nav*/
    .flex-container {
        flex-wrap: wrap;
    } 

    nav img {
        width: 100px;
    }

    nav h1 {
        width: 40%;
        text-align: left;
        margin-right: auto;
    }

    nav label {
        color: white;
        text-align: center;
        margin-right: 30px;
        font-size: 35px;
    }

    nav label:hover {
        color: #138808;
    }

    nav label:active,nav label:focus  {
        color: #ff9933;
    }

    li {
        margin: 0; 
    }

    .checkbox {
        display: block;
    }

    .flex-container-ul {
        width: 100%;
        height: calc(100vh - 120px);
        flex-direction: column;
        background: #000080;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 120px;
        transition: left 0.5s;
        left: -100%;
        justify-content: space-around;
    }

    .ladoo {
        overflow: hidden;
    }

    #check:checked ~ ul {
        left:0;
    }

}

@media (max-width:500px){
    nav img {
        width: 70px;
        margin: 0 20px;
    }
    nav h1 {
        font-size: 20px;
    }
    nav label {
        margin-right: 25px;
        font-size: 24px;
    }

    .top h1, .middle h1{
        font-size: 32px;
    }

    .top p, .middle p{
        font-size:20px;
    }

    .middle {
        padding: 150px 0;
    }
}

/*
About federation
*/

.af_wrapper {
    background: #ff9933;
    margin-top: 120px;
}

.af_wrapper h1 {
    text-shadow: none;
}

.af_wrapper > p {
    padding-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    color: black;
}

.af_main {
    max-width: 1000px;
    margin: 0 auto;
    color: #000000;
    padding: 10px;
    font-size: 20px;
}

.af_main > h1 {
    padding-top: 30px;
}

.af_main ol{
    padding: 0;
    letter-spacing: 2.5px;
    margin-bottom: 0;
}

.af_main ol li {
    padding-bottom: 10px;
    list-style-position: inside;
}

.af_main_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 25px;
    color: black;
}

.af_main_section div {
    width: 30%;
    padding: 10px;
    box-shadow: 0px 0px 10px #4a4ac0 inset;
    border-radius: 5px;
    transform: scale(0.9);
    transition: transform 0.3s;
}

.af_main_section div:hover {
    transform: scale(1);
}

.af_main_section div p{
    font-weight: 400;
}

@media (max-width: 900px) {
    .af_main_section div {
        width: 40%;
    }
    .af_main ol li {
        padding-bottom: 15px;
    }
}


@media (max-width: 600px) {
    .af_main_section div {
        width: 80%;
    }

}

/*gallery*/

.g_img_section {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.g_img {
    border-radius: 5px;
    width: 350px;
    margin: 10px;
    box-shadow: 0 0 2px 2px black;
    transform: scale(0.95);
    transition: transform 0.3s;
}

/* .g_img:hover {
    transform: scale(1);
} */

.g_img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

/*Members*/

.m_wrapper {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img_card {
    width: 300px;
    text-align: center;
}

.img_card img{
    margin: 0 auto;
    height: 290px;
    width: 250px;
    object-fit: cover;
    object-position: center 5%;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.img_card p {
    margin-bottom: 0;
}

.img_card p:nth-child(3){
    margin-top: 0;
    margin-bottom: 50px;
}

.img_card .name {
    font-weight: 400;
}

/*About Committee */

.c_main_wrapper {
    background-color: #ff9933;
    min-height: calc(100vh - 120px);
}

.c_main_wrapper p {
    font-weight: 400;
}

.c_main_wrapper .name {
    font-weight: 800;
}

.c_main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
}

.c_main_section {
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px dotted black;
    border-radius: 5px;
}

.c_main_section .about {
    margin-left: 10px;
    max-width: 600px;
}

.c_main_section .name, 
.c_main_section .designation {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.c_main_section .name {
    margin-top: 10px;
} 

.c_main_section span {
    font-size: 10px;
}

.c_main_section img {
    margin: 0 auto;
}

.c_main_section .about {
    font-size: 24px;
}

.c_main_span {
    letter-spacing: 1px;
}

.c_main img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center 30%;
    display: block;
}

.c_main .c_main_founder {
    object-position: center 20%;
}

@media (max-width: 900px) {

    /* .c_main {
        width: 70%;
    } */
    .c_main_section {
        flex-direction: column;
    }

    .c_main_section .about {
        text-align: center;
        padding: 0 20px;
    }
}


/* 
Contact us
*/

.google-map-main {
    background-color: #ff9933;
    color: #000080;
    margin-top: 120px;
}

.google-map {
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-height: calc(100vh - 120px)
}

.google-map p iframe{
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-right: 40px;
    width: 500px;
    height: 400px;
}

.google-map div p {
    margin-bottom: 0;
}

.google-map div p + p {
    margin-top: 0;
}


.google-map a {
    font-size: 40px;
}

.google-map div {
    order: -1;
    padding: 10px;
}

.google-map i {
    margin-top:30px;
    margin-right: 15px;
}

.google-map a{
    margin: 0;
}

a {
    color: white;
}

a .fa-whatsapp:hover {
    color: #138808;
}

a .fa-envelope:hover,
a .fa-envelope:focus,
a .fa-envelope:active {
    color: #8d2e1d;
}

@media(max-width:800px) {
    .google-map {
        flex-direction: column;
        text-align: center;
        padding-top: 40px;
        box-sizing: border-box;
    }

    .google-map p iframe {
        margin: 0 auto;
        width: 300px;
    }

}


/* events */

.events_container {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 120px;
    min-height: calc(100vh - 120px);
}

.event_content {
    max-width: 700px;
    display: none;
}

.event_content img {
    width: 100%;
    display: block;
}

.event_display {
    display: block;
}

.event_name a{
    padding-top:10px;
    font-weight: 400;
    animation: color-change 1s infinite;
    cursor: pointer;
}

.events_container ul {
    list-style-type: disc;
}

@keyframes color-change {
    0% {color: #ff9933}
    50% {color: #000080}
    100% {color: #ff9933}
}

@media(max-width:600px) {

    

    .event_content img {
        margin: 0 auto;
        width: 80%;
    }
}

/* 
.events_container p {
    padding: 20px 50px;
    font-weight: 400;
    animation: color-change 1s infinite;
    cursor: pointer;
}

.events_container img {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 50px;
}

.event_content {
    display: none;
    border: 1px solid black;
    width: 100vw;
}

.event_display {
    display: block;
}


@keyframes color-change {
    0% {color: #ff9933}
    50% {color: #000080}
    100% {color: #ff9933}
}

@media(max-width:600px) {
    .events_container {
        width: 100%;
    }
    .event_content {
        
    }

    .event_content img {
        width: 100%;
    }
} 
*/


.join_wrapper {
    margin-top: 120px;
    background:#000080;
    color: white;
    min-height: calc(100vh - 120px);
    box-sizing: border-box;
    padding: 10px;
}

.join_wrapper i {
    font-size: 35px;
    margin-right: 15px;
    font-weight: 400;
}

.join_wrapper h1 {
    font-size:30px;
}

.join_wrapper p, .join_wrapper ol{
    font-weight: 400;
    font-size: 18px;
}

.join_wrapper ol, .join_wrapper ul{
    padding: 0;
    list-style-position: inside;
}

.join_wrapper ol {
    letter-spacing: 4px;
}

.join_wrapper ol li {
    margin-bottom: 20px;
}

/* @media (min-width: 768px) {
    .join_wrapper p, .join_wrapper ol{
        font-size: 15px;
    }
} */