body {
    margin: 0;
    font-family: 'Bitter', serif;
}

/*
    Navigation
*/

.flex-container {
    display: flex;
    align-items: center;
}

nav {
    background: #000080;
    color: #fff;
    height: 120px;
}

nav img {
    margin: 0 30px;
    width: 100px;
    cursor: pointer;
}

nav h1 {
    font-weight: 400;
    color: #ff9933;
}

@supports (color: transparent) {
    nav h1 {
        background: linear-gradient(to right, #ff9933,#fff, #138808);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

ul {
    list-style: none;
    margin-left: auto;
    margin-right: 50px;
}

li {
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
}

a:hover,
a:focus {
    color: #138808;
}

.contact-us {
    background: #ff9933;
    color: #000080;
    padding: 10px;
    transition: all 0.2s;
    border-radius: 3px;
}

.contact-us:hover {
    background: #fff;
}

/*
    Body
*/

h1 {
    margin: 0;
    font-weight: 400;
    text-shadow: 10px 10px 10px black;
}

p {
    font-weight: 200;
    letter-spacing: 3.5px;
}

.top {
    text-align: center;
    background: linear-gradient(to right, #ff9933, #ff8000);
    padding: 100px 0 300px;
    font-size: 30px;
    color: #000080;
}

.middle {
    background: #000080;
    padding: 300px 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

#check {
    display: none;
}

.checkbox {
    display: none;
    cursor: pointer;
}

@media(max-width:1300px) {
    nav img {
        width: 80px;
    }

    nav h1 {
        font-size: 26px;
        width: 30%;
    }

    li {
        margin-left: 20px;
    }

    ul {
        padding: 0;
        margin-right: 25px;
    }
}



@media(max-width:1040px) {
    /*Nav*/
    .flex-container {
        flex-wrap: wrap;
    } 

    nav img {
        width: 100px;
    }

    nav h1 {
        width: 40%;
        text-align: left;
        margin-right: auto;
    }

    nav label {
        color: white;
        text-align: center;
        margin-right: 30px;
        font-size: 35px;
    }

    nav label:hover {
        color: #138808;
    }

    nav label:active,nav label:focus  {
        color: #ff9933;
    }

    li {
        margin: 0; 
    }

    .checkbox {
        display: block;
    }

    .flex-container-ul {
        width: 100%;
        height: calc(100vh - 120px);
        flex-direction: column;
        background: #000080;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 120px;
        transition: left 0.5s;
        left: -100%;
        justify-content: space-around;
    }

    .ladoo {
        overflow: hidden;
    }

    #check:checked ~ ul {
        left:0;
    }


}

@media (max-width:500px){
    nav img {
        width: 70px;
        margin: 0 20px;
    }
    nav h1 {
        font-size: 20px;
    }
    nav label {
        margin-right: 25px;
        font-size: 24px;
    }
}